.Create {
  margin: 18px 0 18px 6%;
}
.Create__title {
  width: 70%;
  margin: 10px auto;
  height: 35px;
  padding-left: 5%;
  font-size: 1.5rem;
}
.Create-content {
  width: 90%;
  height: 250px;
  padding: 10px 5%;
  font-size: 1.5rem;
}
.Note__button--mod {
  color: white;
  font-weight: bold;
  margin-top: 10px;
  width: 60%;
  font-size: 1.5rem;
}
