.Note-feature {
  width: 30%;
  padding-left: 20px;
  background: rgb(209, 204, 204);
  font-size: 25px;
}
.Note-buttons {
  text-align: center;
  width: 90%;
  border: 2px solid black;
  background: rgb(16, 183, 189);
  height: 60px;
  font-size: 25px;
  margin-top: 15px;
}
