body,
html {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-size: 62.5%;
}
* {
  box-sizing: border-box;
}
.Note {
  display: flex;
  min-height: 100vh;
  margin: 0 auto;
  border: 2px black solid;
}
.Note__Page {
  width: 65%;
  background: $page-background;
}
.Note__title {
  margin: 48px 0 0 6%;
  font-size: 2.5rem;
}
.Note__button {
  border: 1px solid darkgrey;
  color: white;
  background: $note-button;
  text-align: center;
  width: 90%;
  padding: 10px 5% 10px 5%;
  margin-top: 25px;
}
