.NoteView__links {
  display: flex;
  justify-content: flex-end;
}
.NoteView__link {
  text-decoration: none;
  color: black;
  margin-right: 5%;
  font-size: 2rem;
}
.Note-text {
  margin-top: 45px;
  font-size: 25px;
}
