* {
  box-sizing: border-box;
}
.Note {
  display: flex;
  min-height: 100vh;
  margin: 0 auto;
  border: 2px black solid;
}
.Note__Page {
  width: 65%;
  background: rgb(245, 244, 244);
}
.Note__title {
  margin: 48px 0 0 6%;
  font-size: 2.5rem;
}
