.List__notes {
  display: flex;
  flex-flow: row wrap;
  margin: 18px 0 18px 4%;
  max-height: 610px;
  overflow-y: auto;
}
.List__note__link {
  width: 100%;
  text-decoration: none;
  color: black;
  @media only screen and (min-width: 992px) {
    width: 33%;
  }
}
.List__note {
  background: white;
  width: 95%;
  border: 2px solid black;
  padding: 10px 5% 10px 5%;
  margin-top: 8px;
  overflow-wrap: break-word;

}
.List__note__h3 {
  margin: 0 auto;
  padding: 0 auto;
  border-bottom: 1px grey solid;
  padding-bottom: 5px;
  font-size: 2rem;
  text-align: center;
}
.List__note__p {
  font-size: 1.3rem;
}
