.Modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: $modal-background;
}
.Modal__Layer {
  position: fixed;
  display: flex;
  flex-flow: column;
  border: 2px black solid;
  align-items: center;
  background: white;
  width: 70%;
  height: 100px;
  top: 40%;
  left: 55%;
  transform: translate(-50%, -50%);
}
.Modal__Text {
  margin-top: 30px;
  font-weight: normal;
}
.Modal__Buttons {
  display: flex;
  justify-content: space-evenly;
  width: 80%;
}
.Modal__Button {
  background: red;
  color: white;
  width: 100px;
  margin-left: 5%;
}
.Modal__Button--blue {
  background: $note-button;
}
.display-block {
  display: block;
}
.display-none {
  display: none;
}
