.List__notes {
  display: flex;
  flex-flow: row wrap;
  margin: 18px 0 18px 4%;
}
.List__note {
  background: white;
  width: 95%;
  border: 2px solid black;
  padding: 10px 5% 10px 5%;
  margin-top: 10px;
  overflow-wrap: break-word;
}
.List__note__h3 {
  margin: 0 auto;
  padding: 0 auto;
  border-bottom: 1px grey solid;
  padding-bottom: 5px;
  font-size: 2rem;
  text-align: center;
}
.List__note__p {
  font-size: 1.3rem;
}
