.Create {
  margin: 18px 0 18px 6%;
}
.Create__title {
  width: 70%;
  margin: 10px auto;
  height: 35px;
  padding-left: 5%;
  font-size: 1.5rem;
}
.Create-content {
  width: 90%;
  height: 250px;
  padding: 10px 5%;
  font-size: 1.5rem;
}
.Note-button {
  background: rgb(16, 183, 189);
  color: white;
  margin-top: 10px;
  width: 200px;
  height: 50px;
}
